ion-header {
  ion-toolbar {
    ion-title {
      font-size: 1.5rem; /* Tamanho maior para o título do cabeçalho */
      font-weight: bold;
    }
  }
}

ion-label,
ion-label[stacked] {
  font-size: 0.9rem;
}

ion-item {
  font-size: 0.8rem;
}

ion-button[expand="block"] {
  margin-top: 20px; /* Espaçamento superior para o botão de salvar */
}

.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile-image.edit-mode {
  cursor: pointer;
}

.profile-image.edit-mode:hover {
  opacity: 0.8;
}

input[type="file"] {
  display: none;
}
