/* Estilo para o cabeçalho (header) */
ion-header {
    --ion-background-color: #f0f8f7; /* Verde claro */
  }
  
  /* Estilo para a barra de abas (tabs) */
  ion-tabs {
    --ion-background-color: #f0f8f7; /* Verde claro */
  }
  
  /* Estilo para a barra de abas (tabs) na parte inferior */
  ion-tab-bar {
    --ion-background-color: #f0f8f7; /* Verde claro */
  }
  