<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="catalog">
        <ion-icon name="albums-outline" class="icon"></ion-icon>
        Catálogo
      </ion-tab-button>
      <ion-tab-button tab="cart">
        <ion-icon name="cart-outline" class="icon"></ion-icon>
        Carrinho
      </ion-tab-button>
      <ion-tab-button tab="post">
        <ion-icon name="add-circle-outline" class="icon"></ion-icon>
        Enviar
      </ion-tab-button>
      <ion-tab-button tab="delete-items">
        <ion-icon name="trash-outline" class="icon"></ion-icon>
        Deletar
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="person-circle-outline" class="icon"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
