.post-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: var(--ion-color-primary); /* Cor do título */
}

.custom-content {
  --background: var(--ion-color-light); /* Cor de fundo da página */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
}

.custom-container {
  width: 100%;
  padding: 0 10px; /* Pequeno espaçamento nas laterais */
}

.custom-card {
  width: 100%;
  box-shadow: none; /* Remover sombra do card */
  padding: 20px;
  border-radius: 10px;
  background-color: var(--ion-color-white); /* Cor de fundo do card */
}

.page-post {
  background-color: var(--ion-color-light); /* Cor de fundo da página */  

  .post-item {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-top: 0;
    --inner-padding-bottom: 15px;
    border-bottom: 1px solid var(--ion-color-light); /* Linha de divisão entre os itens */
    margin-bottom: 15px; /* Espaçamento entre os itens */
  }

  .post-label {
    color: var(--ion-color-primary); /* Cor do texto das etiquetas */
    font-weight: bold;
    font-size: 1.2em; /* Aumentar o tamanho da fonte */
    margin-bottom: 5px; /* Espaçamento inferior */
  }

  .post-input {
    border-radius: 5px;
    border: 1px solid var(--ion-color-primary); /* Borda dos campos de entrada */
    padding: 10px;
    font-size: 1.1em; /* Aumentar o tamanho da fonte */
    margin-top: 5px; /* Espaçamento superior */
  }

  ion-select {
    font-size: 1.1em; /* Aumentar o tamanho da fonte */
  }

  .post-button {
    margin: 40px auto 20px; /* Aumentar margem superior e manter margem inferior */
    --background: var(--ion-color-success); /* Cor de fundo do botão */
    --border-radius: 5px;
    --box-shadow: none;
    --color: black; /* Cor do texto do botão */
    --padding-start: 10px;
    --padding-end: 10px;
    border-left: 3px solid var(--ion-color-success); /* Borda esquerda */
    border-right: 3px solid var(--ion-color-success); /* Borda direita */
  }

  input[type="file"] {
    display: none;
  }

  .custom-file-input {
    display: inline-block;
    background-color: var(--ion-color-success); /* Cor de fundo do botão de arquivo personalizado */
    color: black; /* Cor do texto do botão de arquivo personalizado */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em; /* Aumentar o tamanho da fonte */
  }
}

.error-message {
  color: #ff4d4d !important; /* Cor do texto */
  font-size: 12px !important; /* Tamanho da fonte */
  margin-top: -8px !important; /* Margem superior negativa */
  margin-bottom: 8px !important; /* Margem inferior */
  display: block !important; /* Exibir como bloco */
  text-align: left !important; /* Alinhar à esquerda */
  width: 100% !important; /* Largura total */
  max-width: 400px !important; /* Largura máxima */
}

.success-message {
  color: var(--ion-color-success); /* Cor do texto de mensagem de sucesso */
}

ion-header {
  ion-toolbar {
    ion-title {
      color: var(--ion-color-primary); /* Cor do texto do título do cabeçalho */
    }
  }
} 
