ion-header {
  ion-toolbar {
    ion-title {
      font-size: 1.5rem; /* Tamanho maior para o título do cabeçalho */
      font-weight: bold;
    }
  }
}

ion-label,
ion-label h2 {
  font-weight: bold;
  font-size: 0.9rem;
}

ion-label.product-description {
  font-size: 1rem; /* Tamanho maior para a descrição do produto */
  line-height: 1.5; /* Espaçamento entre linhas aumentado para melhor legibilidade */
}

ion-item {
  font-size: 0.8rem;
}

ion-thumbnail.product-thumbnail {
  height: 16vh;
  width: 16vh; /* Largura igual à altura para imagens quadradas */
  max-width: 35vw;
}

ion-thumbnail img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.loading-container,
.no-products {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px); /* Ajuste para o cabeçalho */
}
