span {
  color: red; /* Cor vermelha */
}

ion-button {
  --background: rgb(0, 0, 0); /* Fundo branco */
  --color: rgb(255, 255, 255); /* Texto em preto */
  margin: 16px;
  border-radius: 10px;
}

ion-title {
  --color: black; /* Cor do texto em preto */
}

ion-item {
  --border-color: black; /* Cor da borda em preto */
  border-radius: 10px;
  margin: 8px;
  
  ion-label {
    --color: black; /* Cor do texto em preto */
    display: flex;
    align-items: center;
  }
}
