/* catalog.page.scss */

.catalog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--ion-color-primary); /* Cor do título */
}

.segment {
  margin: 0 16px;
}

.segment-button {
  color: var(--ion-color-primary); /* Cor do texto dos botões */
}


.product-card {
  margin: 16px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.product-item {
  display: flex;
  align-items: center;
}

.product-thumbnail {
  height: 16vh;
  width: 16vh; /* Largura igual à altura para imagens quadradas */
  max-width: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.product-thumbnail img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-description {
  margin-left: 16px;
}

.product-description h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-description p {
  margin: 4px 0;
}

.no-products {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
  color: #888;
}

.details-icon {
  font-size: 24px; /* Aumentando o tamanho do ícone */
  color: var(--ion-color-primary); /* Adicionando uma cor de destaque */
}
